.ContentStyle {
	margin:0px;padding:0px;
	width:50%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.ContentStyle table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.ContentStyle tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.ContentStyle table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.ContentStyle table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.ContentStyle tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.ContentStyle tr:hover td{
	background-color:#aaffd4;
		

}
.ContentStyle td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #fc72ef 5%, #ff0a0a 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc72ef), color-stop(1, #ff0a0a) ); 
	background:-moz-linear-gradient( center top, #fc72ef 5%, #ff0a0a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc72ef", endColorstr="#ff0a0a");	background: -o-linear-gradient(top,#fc72ef,#ff0a0a);

	background-color: #fc72ef;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.ContentStyle tr:last-child td{
	border-width:0px 1px 0px 0px;
}.ContentStyle tr td:last-child{
	border-width:0px 0px 1px 0px;
}.ContentStyle tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.ContentStyle tr:first-child td{
background:-o-linear-gradient(bottom, #8972fc 5%, #43387d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8972fc), color-stop(1, #43387d) ); 
	background:-moz-linear-gradient( center top, #8972fc 5%, #43387d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#8972fc", endColorstr="#43387d");	background: -o-linear-gradient(top,#8972fc,#43387d);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.ContentStyle tr:first-child:hover td{
background:-o-linear-gradient(bottom, #b7acf2 5%, #756ca6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b7acf2), color-stop(1, #756ca6) ); 
	background:-moz-linear-gradient( center top, #b7acf2 5%, #756ca6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#b7acf2", endColorstr="#756ca6");	background: -o-linear-gradient(top,#b7acf2,#756ca6);
	background-color:#ff7f00;
}
.ContentStyle tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.ContentStyle tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}